---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
/* Colors */
$base-color: #b2c2e0 !default;
$text-color: #eaeaea !default;
$accent-color: #be1f1f !default;
$background-color: #000000 !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;
$sidebar-background-color: #000000 !default;

/* --Overide styles-- */
.search-input {
    color: #fff;
  }

  /* Base font family */
  $base-font-family: 'Exo 2', sans-serif !default;
  /* Other font families */
  /* $headline-font-family: $base-font-family !default; */
  $headline-font-family: 'Exo 2', sans-serif  !default;
  $monospace-font-family: 'Space Grotesk', sans-serif !default;

  @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,600;1,400;1,600&family=Space+Grotesk&display=swap');

/* --Additional styles-- */
.pins-index {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: repeat(1, 1fr);
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  list-style: none;
  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.25em 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $border-color;

    &:hover {
      color: $accent-color;
    }
  }
}
/* --reverse footnote 8617 to 8629-- */
.reversefootnote {
  visibility: hidden;
  position: relative;
}

.reversefootnote:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "\21B5";
}

@import "basically-basic";